@import url('https://fonts.googleapis.com/css?family=Coiny|Open+Sans&display=swap');

body {
	background: #FB8B23;
	color: #fff;
	font-family: 'OpenSans';
}

/* Helpers */
.highlight {
	font-family: Coiny;
}

/* Header */
.header .logo-image {
	border: 5px solid white;
    border-radius: 25px;
}
.header .logo-text {
	font-family: 'Coiny';
    font-size: 2em;
}

/* Social buttons */
.st-total {
	color: #fff !important;
}
.sharethis-inline-share-buttons {
	text-align: right !important;
}

@media (max-width: 768px) {
	.header .logo-text-container {
		text-align: center;
	}
	.header .sharethis-inline-share-buttons {
		text-align: center !important;
	}
}
