body {
	background: #33475c;
	color: #fff;
}

/* Helpers */
.highlight {
	color: #e54f37;
	font-weight: bold;
	font-family: serif;
}

/* Header */
.header .logo-image {
	border: 5px solid white;
    border-radius: 25px;
}
.header .logo-text {
    font-size: 2em;
}

/* Social buttons */
.st-total {
	color: #fff !important;
}
.sharethis-inline-share-buttons {
	text-align: right !important;
}

@media (max-width: 768px) {
	.header .logo-text-container {
		text-align: center;
	}
	.header .sharethis-inline-share-buttons {
		text-align: center !important;
	}
}
